<div class="jumbotron jumbotron-fluid" style="background-color:transparent !important;">
  <div class="container">

    <h1 class="display-4 mb-5" style="font-size: 2.4rem;">현재 링크에 공유된 플레이리스트는 다음과 같습니다.</h1>

    <ul class="list-group mb-3 mt-3" style="clear: both;">
      <li class="list-group-item">
        <p>제목 : 볼빨간사춘기 - 심술</p>
        <p>링크 : www.naver.com</p>
      </li>
      <li class="list-group-item">
        <p>제목 : 볼빨간사춘기 - 나의 사춘기 에게</p>
        <p>링크 : www.google.com</p>
      </li>
      <li class="list-group-item">
        <p>제목 : 아이즈원 - 라라라라라비앙로즈</p>
        <p>링크 : www.daum.net</p>
      </li>
    </ul>

    <h1 class="display-4 mb-5 mt-5" style="font-size: 2.4rem;">위 플레이리스트를 수정 할 수 있습니다.</h1>

    <ul class="list-group mb-3 mt-3" style="clear: both;">
      <li class="list-group-item">
        <p>제목 : 볼빨간사춘기 - 심술</p>
        <p>링크 : www.naver.com</p>
      </li>
      <li class="list-group-item">
        <p>제목 : 볼빨간사춘기 - 나의 사춘기 에게</p>
        <p>링크 : www.google.com</p>
      </li>
      <li class="list-group-item">
        <p>제목 : 아이즈원 - 라라라라라비앙로즈</p>
        <p>링크 : www.daum.net</p>
      </li>
    </ul>



  </div>
</div>
